.CharactersLightMode {
  background-color: cornsilk;
  color: black;
  margin: 20px;
  padding: 5px;
}

.CharactersDarkMode {
  background-color: black;
  color: cornsilk;
  margin: 20px;
  padding: 5px;
}